<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>订单管理</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/buy.css">
    <script type="text/javascript" src="../assets/js/vue.js"></script>
</head>
<body>
    <div id="app" @click="count">
        <div class="first">
            <div class="title"> &nbsp&nbsp 订单管理</div>
            <p class="brand">
                品牌：<input type="text" class="font1" placeholder="输入要查找的设备名称" v-model="search2">
                <button class="btn-search" @click="search1">查询</button>
            </p>            
        </div>
        <hr class="bord1">
        <div class="second">
            <div class="left">
                <table class="table" width=1030 border="2" bordercolor="#FFFAFA" cellspacing="0"> 
                    <thead>
                        <tr height=50>
                            <td class="brands">品牌</td>
                            <td>订单日期</td>
                            <td>订单价格</td>
                            <td>购买数量</td>
                            <td class="operation">操作</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr height=50 v-for="(order,index) in orders">
                            <td>{{order.brands}}</td>
					        <td>{{order.date | yyyyMMdd}}</td>
                            <td>{{order.prices}}</td>
                            <td>
                                <button class="plus" @click="add(index)">+</button>
                                <a v-text="order.numbers"></a>
                                <button class="reduce" @click="sub(index)">-</button>
                            </td>
					        <td>
                                <button class="delete" @click="del(index)">删除</button>
                            </td>
                        </tr>
                    </tr><br>
                    </tr>
                    </tbody>
                </table>
                <div class="all">订单总额：{{all}}元</div>
            </div>
            <div class="right">
                <br><br>
                <span class="add">新增订单</span><br>
                <hr class="bord2"><br>
                <span class="text2">品牌</span><br>
                <input v-model="order.brands" type="text" placeholder="如：笔记本，手机" class="text3"><br><br>
                <span class="text2">价格</span><br>
                <input v-model="order.prices" type="text" placeholder="如：50" class="text3"><br><br>
                <span class="text2">数量</span><br>
                <input v-model="order.numbers" type="text" placeholder="如：3" class="text3"><br><br>
                <button class="submission" @click="submiss">提交</button>               
            </div>
        </div>
    </div>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                order: [{
                    brands: '',
                    date: '',
                    prices: '',
                    numbers: '',
                }],
                orders: [],
                ip_order: [{
                    brands: '',
                    date: '',
                    prices: '',
                    numbers: '',
                }],
                search2: '',
                all: 0
            },
            methods: {
                // 添加
                submiss: function () {
                    this.order.date = new Date();
                    this.orders.push(this.order);
                    this.order = {};
                },
                del: function (index) {
                    this.orders.splice(index, 1);
                },
                add(index) {
                    this.orders[index].numbers++;
                },
                sub(index) {
                    if (this.orders[index].numbers > 0) {
                        this.orders[index].numbers--;
                    }
                },
                count() {
                    let all = 0;
                    for (let i in this.orders) {
                        let number = this.orders[i].numbers;
                        let money = this.orders[i].prices;
                        all += number * money;
                    }
                    this.all = all;
                },
                search1() {
                    var brand = this.search2;
                    this.ip_order = [];
                    for (let i in this.orders) {
                        var n = this.orders[i].brands;
                        if (brand === n) {
                            this.ip_order.push(this.orders[i]);
                        }
                    }
                    this.orders = this.ip_order;
                }
            }
        })
        // Vue.filter("dataFormat",function(value,format){
        //     let date = {
        //         "M+": value.getMonth() + 1,
        //         "d+": value.getDate(),
        //         "h+": value.getHours(),
        //         "m+": value.getMinutes(),
        //         "s+": value.getSeconds(),
        //     }
        //     if(/(y+)/.test(format)){
        //         format = format.replace(RegExp.$1,(value.getFullYear() + "").substr(4-RegExp.$1.length));
        //         for(let k in date){
        //             if(new RegExp(`(${k})`).test(format)){
        //                 format = format.replace(RegExp.$1,(RegExp.$1.length == 1)?
        //                 (date[k]):(("00" + date[k]).substr(("" + date[k]).length)));
        //             }
        //         }
        //         return format;
        //     }
        // })
        Vue.filter("yyyyMMdd",function(date){
            let dt = new Date(date);
            let y = dt.getFullYear();
            let m = (dt.getMonth() + 1).toString().padStart(2,'0');
            let d = dt.getDate().toString().padStart(2,'0');
            return `${y}-${m}-${d}`;
        })        
    </script>
</body>
</html>