<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>订单管理</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/buy.css">
    <script type="text/javascript" src="../assets/js/vue.js"></script>
</head>
<body>
    <div id="app" @click="countAll">
        <div class="first">
            <div class="title"> &nbsp&nbsp 订单管理</div>
            <p class="brand">
                品牌：<input type="text" class="font1" placeholder="输入要查找的设备名称" ref="search2">
                <button class="btn-search" @click="search1">查询</button>
            </p>            
        </div>
        <hr class="bord1">
        <div class="second">
            <div class="left">
                <table class="table" width=1030 border="2" bordercolor="#FFFAFA" cellspacing="0"> 
                    <thead>
                        <tr height=50>
                            <td>品牌</td>
                            <td>订单日期</td>
                            <td>订单价格</td>
                            <td>购买数量</td>
                            <td class="operation">操作</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr height=50 v-for="(iphone,index) in iphones">
                            <td>{{iphone.brands}}</td>
					        <td>{{iphone.date | yyyyMMdd}}</td>
                            <td>{{iphone.prices}}</td>
                            <td>
                                <button class="plus" @click="add(index)">+</button>
                                <a v-text="iphone.numbers"></a>
                                <button class="reduce" @click="sub(index)">-</button>
                            </td>
					        <td>
                                <button class="delete" @click="del(index)">删除</button>
                            </td>
                        </tr>
                    </tr><br>
                    </tr>
                    </tbody>
                </table>
                <div class="all">订单总额：{{all}}元</div>
            </div>
            <div class="right">
                <form class="form1">
                    <span class="add">新增订单</span><br>
                    <hr class="bord2"><br>
                    <span class="text2">品牌</span><br>
                    <input v-model="iphone.brands" type="text" placeholder="如：笔记本，手机" class="text3"><br><br>
                    <span class="text2">价格</span><br>
                    <input v-model="iphone.prices" type="text" placeholder="如：50" class="text3"><br><br>
                    <span class="text2">数量</span><br>
                    <input v-model="iphone.numbers" type="text" placeholder="如：3" class="text3"><br><br>
                    <button class="submission" @click="submiss">提交</button>
                </form>                
            </div>
        </div>
    </div>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                iphone: [{
                    brands: '',
                    date: '',
                    prices: '',
                    numbers: '',
                }],
                iphones: [],
                cx_iphone: [],
                search: '',
                all: 0
            },
            methods: {
                // 添加
                submiss: function () {
                    this.iphone.date = new Date();
                    this.iphones.push(this.iphone);
                    this.iphone = {};
                },
                del: function (index) {
                    this.iphones.splice(index, 1);
                },
                add(index) {
                    this.iphones[index].numbers++;
                },
                sub(index) {
                    if (this.iphones[index].numbers > 0) {
                        this.iphones[index].numbers--;
                    }
                },
                countAll() {
                    let all = 0;
                    for (let i in this.iphones) {
                        let number = this.iphones[i].numbers;
                        let money = this.iphones[i].prices;
                        all += number * money;
                    }
                    this.all = all;
                },
                search1() {
                    let brand = this.$refs.search2.value;
                    this.cx_iphone = [];
                    for (let i in this.iphone) {
                        let n = this.iphone[i].brands;
                        if (brand === n) {
                            this.cx_iphone.push(this.iphone[i]);
                        }
                    }
                    this.iphone = this.cx_iphone;
                }
            }
        })
        // Vue.filter("dataFormat",function(value,format){
        //     let date = {
        //         "M+": value.getMonth() + 1,
        //         "d+": value.getDate(),
        //         "h+": value.getHours(),
        //         "m+": value.getMinutes(),
        //         "s+": value.getSeconds(),
        //     }
        //     if(/(y+)/.test(format)){
        //         format = format.replace(RegExp.$1,(value.getFullYear() + "").substr(4-RegExp.$1.length));
        //         for(let k in date){
        //             if(new RegExp(`(${k})`).test(format)){
        //                 format = format.replace(RegExp.$1,(RegExp.$1.length == 1)?
        //                 (date[k]):(("00" + date[k]).substr(("" + date[k]).length)));
        //             }
        //         }
        //         return format;
        //     }
        // })
        Vue.filter("yyyyMMdd",function(date){
            let dt = new Date(date);
            let y = dt.getFullYear();
            let m = (dt.getMonth() + 1).toString().padStart(2,'0');
            let d = dt.getDate().toString().padStart(2,'0');
            return `${y}-${m}-${d}`;
        })        
    </script>
</body>
</html>