* {
    outline: none !important;
    /* 抗锯齿渲染 */
    -webkit-font-smoothing: antialiased;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}			
#input-content{
    width: 400px;
    margin: 0 auto;
    overflow: overlay;
    display: block;
    padding: 50px;
    background-color: white;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    margin-bottom: 20px;	
}			
#table-content{
    margin: 0 auto;
}